<div style="margin-bottom:5%"></div>

<div class="container" *ngIf="currentUser; else loggedOut">


    <h2 style="text-align: center;"><strong>Senarai Penerima</strong></h2>
    <div class="row">
      <div class="col-md-1">
        <button type="button" class="button" style="width:250px;" (click)="GeneratePDF()">
          Simpan Sijil
        </button>
    </div>
    </div>
    

<table style="margin-top: 0.5cm;" class="table table-bordered css-serial">

    <thead style="background-color: #6ec5c9;border-color: black;">
      <tr>
        <th span="1" style="width: 1%;">Bil.</th>
        <th span="1" style="width: 19%;">Nama</th>
        <th span="1" style="width: 10%;">No. K/P</th>
        <th span="1" style="width: 5%;">Peranan</th>
        <th span="1" style="width: 14%;">Nama Program</th>
        <th span="1" style="width: 10%;">Tarikh</th>
        <th span="1" style="width: 14%;">Tempat</th>
      </tr>
    </thead>

    <tbody style="background-color: white;">
      <tr *ngFor="let i=index;let ind of collection.data;let d of penerima | paginate : {
        itemsPerPage: pageSize,
        currentPage: page,
        totalItems: count
      }; ">
      <td *ngIf="page==1">{{ i+1 }}</td>
      <td *ngIf="page>1">{{((page-1)*3)+(i+1)}}</td>
      <td>{{ d.nama }}</td>
      <td>{{ d.nokadpengenalan }}</td>
      <td>{{ d.peranan }}</td>
      <td>{{ d.program }}</td>
      <td>{{ d.tarikh }}</td>
      <td>{{ d.tempat }}</td>
    </tr>
  </tbody>
  <tfoot class="grey lighten-5 w-100">
    <tr>
      <td colspan="8" style="background-color: rgb(231, 237, 240);">
        <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements">
          <pagination-controls
          previousLabel="Sebelum"
          nextLabel="Seterusnya"
          responsive="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
        </mdb-table-pagination>
      </td>
    </tr>
    </tfoot> 
  </table>
  <script>
    var modal = document.getElementById('id01');
    window.onclick = function(event){
      if (event.target==modal){
        modal.style.display = "none";
      }
    }
    
    </script>

  
</div> 

<ng-template #loggedOut style="text-align: center;">
  <div style="text-align: center; font-weight: bolder;" class="up-three">Sila log masuk</div>
  <div class= "flex-parent jc-center">
    <button type="button" class="button" (click)="navigatetologin()" style="width:150px;">Log Masuk</button>
  </div>
</ng-template>
   