/* for all buttons */
button {
    font-weight: bolder;
    background-color: #6ec5c9;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  
   * {
    box-sizing: border-box;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }
  
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }   
  
  .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
  }
  
  .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
  }
  
  .inputfile:focus + label,
  .inputfile + label:hover {
    background-color: red;
  }
  
  .inputfile + label {
      cursor: pointer; /* "hand" cursor */
  }
  
  .inputfile:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
  }
  
  .cancelbtn, .deletebtn {
    font-weight: bolder;
    float: center;
    width: 50%;
  }
  
  .cancelbtn{
    background-color: #0275d8;
    color: white;
  }
  
  .deletebtn{
    background-color: #f44336;
    color: white;
  }
  
  .containing{
    padding: 16px;
    text-align: center;
  }
  
  .modal{
    display:none;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 50px;
  }
  
  .modal-content{
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%;
  }
  
  hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  
  }
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 50px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  .clearfix::after{
    content:"";
    clear: both;
    display: table;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn, .deletebtn {
       width: 100%;
    }
  }
  
  .flex-parent{
    display: flex;
  }
  
  .jc-center{
    justify-content: center;
  }
  
  .up-three {
      margin-top: 1.5cm;
   }
  
   table {
    width: 100%;
    counter-reset: row-num-1;
  }
  
  table-bordered{
    border: black;
  }
  
  